body
	min-height 2000px
	margin-top 75px

.navbar-form
	padding-right 0

.navbar-collapse
	padding-right 0

body, body.modal
	margin-right 0 !important

body.modal
	overflow-y hidden

.unleashed-navbar
	background-color black //#901C16

.navbar-brand
	padding 4px 15px 0 15px !important
	width 70px
	height 40px

.unleashed-nav-brand, .unleashed-menu-item
	color white !important

.open .unleashed-nav-brand, .open .unleashed-menu-item
	color black !important


/* Sticky footer styles
-------------------------------------------------- */

html, body
	height 100%

#wrap
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto -30px
	padding 0 0 20px

#footer
	height 30px
	background-color black //#901C16
	position fixed
	bottom 0
	width 100%

#wrap > .container
	padding 60px 15px 0

.container .credit
	margin 5px 0

#footer > .container
	padding-left 15px
	padding-right 15px

code
	font-size 80%