body
	min-height 2000px
	margin-top 75px

.navbar-form
	padding-right 0

.navbar-collapse
	padding-right 0

body, body.modal
	margin-right 0 !important

body.modal
	overflow-y hidden

.unleashed-navbar
	background-color #901C16

.navbar-brand
	padding 4px 15px 0 15px !important;

.unleashed-nav-brand, .unleashed-menu-item
	color white !important

.open .unleashed-nav-brand, .open .unleashed-menu-item
	color black !important